<div class="tmdb-item" data-src="https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces<%= item.bg %>">
    <% if (flag === 0) { %>
        <div class="item-container" style="background-image: linear-gradient(to right, var(--gred-start) 150px, var(--gred-end) 100%);">
            <div class="tmdb-picture"><img class="no-lightbox" data-src="https://www.themoviedb.org/t/p/w185_and_h278_multi_faces<%= item.poster %>" src="" referrerPolicy="no-referrer" width="110"/></div>
            <div class="tmdb-info" style="text-align: right;">
                <div class="tmdb-title">
                    <a style="text-decoration: none;" target="_blank" href="https://www.themoviedb.org/movie/<%= item.id %>/"><%= item.title || 'Unknown' %></a>
                </div>
                <div class="tmdb-meta">
                    <p class="tmdb-subtitle"><%= item.origin_title + " (" + item.date.slice(0, 4) + ")" %></p>
                    <% let genreStr = ""; %>
                    <% item.genres.forEach(function(genre) { %>
                    <% genreStr += genre.name + " "; %>
                    <% }); %>
                    <p class="tmdb-genres"><%= genreStr %></p>
                </div>
           </div>
        </div>
    <% } else { %>
        <div class="item-container" style="background-image: linear-gradient(to left, var(--gred-start) 150px, var(--gred-end) 100%);">
            <div class="tmdb-info" style="text-align: left;">
                <div class="tmdb-title">
                    <a style="text-decoration: none;" target="_blank" href="https://www.themoviedb.org/movie/<%= item.id %>/"><%= item.title || 'Unknown' %></a>
                </div>
                <div class="tmdb-meta">
                    <p class="tmdb-subtitle"><%= item.origin_title + " (" + item.date.slice(0, 4) + ")" %></p>
                    <% let genreStr = ""; %>
                    <% item.genres.forEach(function(genre) { %>
                    <% genreStr += genre.name + " "; %>
                    <% }); %>
                    <p class="tmdb-genres"><%= genreStr %></p>
                </div>
            </div>
            <div class="tmdb-picture"><img class="no-lightbox" data-src="https://www.themoviedb.org/t/p/w185_and_h278_multi_faces<%= item.poster %>" src="" referrerPolicy="no-referrer" width="110"/></div>
        </div>
    <% } %>
</div>