<% if (quote) { %>
<blockquote>
    <p><%- quote; %></p>
</blockquote>
<% } %>
<style>
    <%- include('index.css') %>
</style>
<div>
    <div id="tmdb-list">
        <% for (let i = 0; i < tmdbList.length; i++) { %>
        <% let flag = i % 2; %>
        <% let item = tmdbList[i]; %>
        <%- include('tmdbItem.ejs', {item, flag}) %>
        <% } %>
        <%- include('pagination.ejs', {__: __}) %>
    </div>
</div>
<script>
    <%- include('index.js') %>
    <%- include('pagination.js', {__: __}) %>
</script>
